.vrt-tree {
    // color: #444645;
    list-style: none;
    padding: 12px;
    max-width: 280px;
    // width: 20px;
    &__item {
        padding: 10px;
        position: relative;
        cursor: pointer;
        display: grid;
        grid-template-columns: 32px auto minmax(32px, 64px);
        ;
        white-space: nowrap;
        &:hover {
            background-color: #e1e1e1;
            border-radius: 4px;
        }
        &_caret {
            position: absolute;
            right: 0px;
            padding: 4px 0;
            opacity: .6;
            cursor: pointer;
            transform: rotate(90deg);
            transition: transform .3s ease-in;
            &--open {
                transform: rotate(-90deg);
                transition: transform .3s ease-in;
            }
        }
        &--has-more {
            padding: 4px 0;
            height: 100%;
            &:hover {
                background-color: unset;
                // border-radius: 4px;
            }
        }
    }
    &--has-children {
        padding: 8px 8px;
        position: relative;
    }
    &__wrapper {
        box-shadow: 0 0 10px #ddd;
    }
}

.slide-enter-active,
.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-enter-to,
.slide-leave-from {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter-from,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}